@inject FileProcessingService fps

<p>Table will go here</p>

@code {
    protected override void OnInitialized()
    {
        fps.OnDataProcessed += OnDataProcessed;
    }

    private void OnDataProcessed()
    {
        var events = ImpossibleMovements();

        foreach (var ev in events)
        {
            Console.WriteLine(ev);
        }
        Console.WriteLine(events.Count);
    }

    // TODO: custom data type for this kind of alert
    private List<ReaderEvent> ImpossibleMovements()
    {
        List<ReaderEvent> warningScans = new List<ReaderEvent>();

        var groupedByIdHash = fps.ReaderEvents
            .GroupBy(x => x.IdHash)
            .OrderBy(g => g.Key)
            .ToList();

        foreach (var group in groupedByIdHash)
        {
            ReaderEvent lastEvent = null;
            foreach (var readerEvent in group.OrderBy(x => x.EventTimeUTC))
            {
                if (lastEvent != null && lastEvent.ReaderDesc != readerEvent.ReaderDesc && Math.Abs((lastEvent.EventTimeUTC - readerEvent.EventTimeUTC).TotalSeconds) <= 3)
                {
                    warningScans.Add(readerEvent);
                }
                lastEvent = readerEvent;
            }
        }

        return warningScans;
    }
}

