@inject FileProcessingService fps


<MudPaper Class="pa-4 ma-2">
	@if(@averageVisitorsPerDay != null) {
		<h2>Average Unique Visitors Per Day</h2>
		<p>@averageVisitorsPerDay scans</p>
	}
	else {
		<p>Loading...</p>
	}
</MudPaper>

@code {
	private dynamic averageVisitorsPerDay;

	protected override void OnInitialized() {
		fps.OnDataProcessed += Recalculate;
		fps.OnFilterChanged += Recalculate;
	}

	private async void Recalculate() {
		var filteredEvents = fps.GetFilteredEvents();

		if (filteredEvents != null && filteredEvents.Any())
		{

			averageVisitorsPerDay = Math.Round(filteredEvents
				.GroupBy(e => e.EventTimeUTC.Date)
				.Select(g => g.Select(e => e.IdHash).Distinct().Count())
				.Average(), 2);
			await InvokeAsync(StateHasChanged);
		}
	}
}
