@page "/"
@inject FileProcessingService fps

<PageTitle>Dashboard</PageTitle>

<h1>Dashboard</h1>
@if(fps.ReaderEvents == null) {
	<p>Upload your CSV!</p>
}

<div style="display: flex; width: 100%;">
	<div style="flex: 1; padding: 10px;">
		<MostActiveUser />
		<MostActiveReader />
		<MostActiveDay />
		<AverageVisitorsPerDay />
	</div>
	<div style="flex: 1; padding: 10px;">
	    <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="300px" Width="500px"/>
	</div>
</div>



<ActivityLineChart />

@code {
	protected override void OnInitialized() {
		fps.OnDataProcessed += OnDataProcessed;
	}

	private void OnDataProcessed() {
		StateHasChanged();
	}
}
