@page "/"
@inject FileProcessingService fps

<PageTitle>Dashboard</PageTitle>

<h1>Dashboard</h1>
@if(fps.ReaderEvents != null) {
	<p>Reader Events Recieved</p>
}
else {
	<p>Waiting on events...</p>
}
<MostActiveUser />
<MostActiveReader />

@code {
	protected override void OnInitialized() {
		fps.OnDataProcessed += OnDataProcessed;
	}

	private void OnDataProcessed() {
		StateHasChanged();
	}
}
