@page "/"
@inject FileProcessingService fps

<PageTitle>Dashboard</PageTitle>

<h1>Dashboard</h1>
@if(fps.ReaderEvents == null) {
	<p>Upload your CSV!</p>
}

<MostActiveUser />
<MostActiveReader />
<MostActiveDay />
<AverageVisitorsPerDay />
<ActivityLineChart />

@code {
	protected override void OnInitialized() {
		fps.OnDataProcessed += OnDataProcessed;
	}

	private void OnDataProcessed() {
		StateHasChanged();
	}
}
