@inject FileProcessingService fps

<MudPaper Class="pa-4 ma-2">
	@if(mostActiveDay != null) {
		<h2>Most Active Day of the Week</h2>
		<p>@mostActiveDay.DayOfWeek</p>
		<p>@mostActiveDay.AverageScans average scans</p>
	}
	else {
		<p>Loading...</p>
	}
</MudPaper>

@code {
	private dynamic mostActiveDay;

	protected override void OnInitialized() {
		fps.OnDataProcessed += Recalculate;
		fps.OnFilterChanged += Recalculate;
	}

	private async void Recalculate() {
		var filteredEvents = fps.GetFilteredEvents();
		if(filteredEvents != null && filteredEvents.Any()) {
			mostActiveDay = filteredEvents
				.GroupBy(e => e.EventTimeUTC.Date)
				.Select(g => new
				{
					DayOfWeek = g.Key.DayOfWeek,
					Count = g.Count()
				})
				.GroupBy(x => x.DayOfWeek)
				.Select(g => new
				{
					DayOfWeek = g.Key,
					AverageScans = g.Average(x => x.Count)
				})
				.OrderByDescending(x => x.AverageScans)
				.FirstOrDefault();
			await InvokeAsync(StateHasChanged);
		}
	}
}
